@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex flex-row">
    <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center" style="background-color: black">
        <ProClubsPlayerFinder.WebAssembly.Pages.Indexes.IndexDecider />
    </div>
    <div class="col-lg-8 backgroundWallpaperCss"> </div>
</div>
