@inject NavigationManager navManager
@rendermode InteractiveServer
<h3>RedirectToLogin</h3>

@code {
    protected override void OnInitialized()
    {
        navManager.NavigateTo("users/login");
    }
}
