<div class="mt-4 text-center">
    <NavLink type="submit" class="btn btn-lg btn-success green-background btn-block text-black" > Search for Free Agents </NavLink>
</div>
<div class="mt-4 text-center">
    <NavLink type="submit" class="btn btn-lg btn-success green-background btn-block text-black"> Edit Club </NavLink>
</div>
<div class="mt-4 text-center">
    <NavLink type="submit" class="btn btn-lg btn-success green-background btn-block text-black"> Club Group Chat </NavLink>
</div>
<div class="mt-4 text-center">
    <NavLink type="submit" class="btn btn-lg btn-success green-background btn-block text-black"> View Players </NavLink>
</div>
<div class="mt-4 text-center">
    <NavLink type="submit" class="btn btn-lg btn-warning btn-block text-black"> Remove Players </NavLink>
</div>
<div class="mt-4 text-center">
    <NavLink type="submit" class="btn btn-lg btn-danger btn-block text-black"> Delete Club </NavLink>
</div>

@code {

}
