<div class="mt-4 text-center">
    <NavLink type="submit" class="btn btn-lg btn-success green-background btn-block text-black" href="freeagents/searchforclub"> Chat with your teamates! </NavLink>
</div>
<div class="mt-4 text-center">
    <NavLink type="submit" class="btn btn-lg btn-success green-background btn-block text-black" href="freeagents/searchforclub"> Club group chat </NavLink>
</div>
<div class="mt-4 text-center">
    <NavLink type="submit" class="btn btn-lg btn-danger btn-block text-black" href="freeagents/searchforclub"> Leave the Club </NavLink>
</div>

@code {

}
