<nav class="navbar navbar-expand-lg navbar-dark green-background d-flex flex-row">
    <div class="container-fluid">
        <div class="d-flex me-auto align-items-center">
            <img src="images/EAFC24Logo2.png" width="45" height="45" />
            <NavLink class="btn btn-lg btn-outline-dark mx-2" href="" Match="NavLinkMatch.All"> CLUBS PLAYER FINDER EAFC24</NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <label class="btn btn-lg" href=""> Hello @context.User?.Identity?.Name! </label>
                <NavLink style="margin-right:8px;" class="btn btn-lg btn-outline-dark" @onclick="HandleLogout"> LOGOUT </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink style="margin-right:8px;" class="btn btn-lg btn-outline-dark" href="users/login"> LOGIN </NavLink>
                <NavLink class="btn btn-lg btn-outline-dark" href="users/register"> REGISTER </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogout()
    {
        await authStateProvider.LogOut();
        navManager.NavigateTo("/");
    }
}
