<style>
    .green-background {
        background-color: #13D515;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark green-background d-flex flex-row">
    <div class="container-fluid">
        <div class="d-flex me-auto">
            <NavLink class="btn btn-lg btn-outline-dark" href="" Match="NavLinkMatch.All"> Clubs Player Finder EAFC24 </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <NavLink class="btn btn-lg btn-outline-dark" href="" Match="NavLinkMatch.All"> Hello @context.User?.Identity?.Name! </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink style="margin-right:8px;" class="btn btn-lg btn-outline-dark" href="users/register"> Register </NavLink>
                <NavLink class="btn btn-lg btn-outline-dark" href="users/login"> Login </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
