@page "/createClub"
@attribute [Authorize(Roles = "Free Agent")]

<div class="d-flex flex-row">
    <div class="col-lg-6 d-flex flex-column justify-content-center px-5 pt-4" style="background-color: black">
        <h1 class="text-white">Create your Club</h1>

        <EditForm Model="CreateClubModel" OnValidSubmit="HandleClubCreation">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mt-4">
                <label for="clubname" class="text-white">Club Name</label>
                <InputText class="form-control mt-1" @bind-Value="CreateClubModel.ClubName" />
                <ValidationMessage For="@(() => CreateClubModel.ClubName)" />
            </div>
            <div class="mt-4">
                <label for="description" class="text-white">Description</label>
                <InputTextArea class="form-control mt-1" style="height: 30vh;" placeholder=@Constants.ClubDescriptionPlaceholder @bind-Value="CreateClubModel.Description" />
                <ValidationMessage For="@(() => CreateClubModel.Description)" />
            </div>
            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-lg btn-success green-background btn-block text-black"> Create Club </button>
            </div>
        </EditForm>
    </div>
    <div class="col-lg-6 backgroundWallpaperCss"> </div>
</div>

@code {
    ClubCreateDto CreateClubModel = new ClubCreateDto();

    private async Task HandleClubCreation()
    {
        try
        {
            var stringToken = await localStorageService.GetItemAsStringAsync("token");
            if (stringToken != null)
            {
                httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", stringToken);

                string tokenValidOrNot = await authStateProvider.CheckTokenExpiration(stringToken);
                if (tokenValidOrNot == Constants.TokenIsValidMessage)
                {
                    var httpResponse = await httpClient.PostAsJsonAsync("api/Clubs/CreateClub", CreateClubModel);
                    if (httpResponse.IsSuccessStatusCode)
                    {
                        await sweetAlertService.ShowAlert(new AlertArgs
                            {
                                Title = "Club Created!",
                                Text = "Your new club was successfully created",
                                Icon = Icon.Success,
                                DangerMode = false,
                                Button = new { Text = "Close" }
                            });
                        await authStateProvider.UpdateNewAuthStateWithChangedRole(stringToken!, "Club Owner");
                        navManager.NavigateTo("/");
                    }
                }
            }
        }
        catch (ApiException)
        {
            await js.InvokeVoidAsync("alert", "Exception encountered");
        }
    }

}
